<!--新規登録、ログイン、パスワードリセット等のフォームでエラーが発生した場合に、そのエラーメッセージを表示するための部分テンプレート-->
<% if resource.errors.any? %>
  <div class="bg-red-500 text-white p-4 rounded-md my-4" data-turbo-cache="false">
    <h2 class="text-xl font-bold mb-2">
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>