<div class="max-w-xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">
    新規予定登録
  </h1>
  <%= render 'form', event: @event %>
  <div class="mt-3">
    <%= link_to "戻る", user_path, class: "block text-center w-full border border-gray-400 text-gray-700 py-2 rounded hover:bg-gray-100" %>
  </div>
</div>
