<div class="my-container">
  <main class="flex-1 flex flex-col items-center mt-6 px-4 text-center">
    <h1 class>髪の悩みを「引き継ぐ」デジタルカルテ</h1>
    <p class="text-gray-600 mb-8">毎回同じ説明は不要です。 来店前にお客様の髪の履歴と、要望を共有して当日サロンでの施術をスムーズに。来店前に"なりたい"を共有できるサービスです。</p>
  </main>
</div>
<section id="user_guide" class="py-16 shadow-md">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">
      お客様向け 6つの使い方ステップ
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">1</span>
        <h3 class="text-xl font-semibold mb-3">アカウント作成とログイン</h3>
        <p class="text-gray-600">メールアドレスまたはLINEで簡単にアカウントを作成、ログインします。</p>
      </div>
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">2</span>
        <h3 class="text-xl font-semibold mb-3">相談フォームに回答</h3>
        <p class="text-gray-600">初めてのご利用時には、現在の髪の悩みや希望、過去の施術履歴などをチャット形式のフォームに入力します。</p>
      </div>
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">3</span>
        <h3 class="text-xl font-semibold mb-3">QRコードを作成、共有</h3>
        <p class="text-gray-600">作成したURL、QRをLINEやSNSで美容師さんに送信し、共有完了です。</p>
      </div>
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">4</span>
        <h3 class="text-xl font-semibold mb-3">カウンセリング履歴の確認</h3>
        <p class="text-gray-600">過去に作成したカウンセリング履歴はいつでも確認できます。</p>
      </div>
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">5</span>
        <h3 class="text-xl font-semibold mb-3">履歴を使って新しいカルテを作成</h3>
        <p class="text-gray-600">過去に作成したカウンセリング履歴を元に新しいカルテを作成できます。</p>
      </div>
      <div class="p-6 border-t-4 border-blue-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-blue-500 mb-4 block">6</span>
        <h3 class="text-xl font-semibold mb-3">予約日を登録して通知</h3>
        <p class="text-gray-600">マイページから予約日を設定すると前日の夜9時にLINEで通知を送ることができます。</p>
      </div>
    </div>
  </div>
</section>
<section id="salon_guide" class="py-16 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mt-4 p-6 text-gray-800">
      美容師さん向け使い方
    </h2>
    <p class="text-gray-600 mb-8">送られたお客様のQRコードに紐ずくカルテは30日以内は通常のカメラで確認出来ます。ログインしたアカウントでカルテをスキャンする事で30日以降も確認することができます。</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-center">
      <div class="p-6 border-t-4 border-indigo-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-green-500 mb-4 block">1</span>
        <h3 class="text-xl font-semibold mb-3">アカウント作成とログイン</h3>
        <p class="text-gray-600">
          アカウント作成、ログインすると以下の２つの機能が利用可能になります。<br>
        </p>
      </div>
      <div class="p-6 border-t-4 border-indigo-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-green-500 mb-4 block">2</span>
        <h3 class="text-xl font-semibold mb-3">送られたお客様のQRコードをスキャン</h3>
        <p class="text-gray-600">
          ログインした状態でお客様から送られたQRコードを読み取ると、QRコードに紐付いたカウンセリング履歴があなたのアカウントに紐づけられます。
        </p>
      </div>
      <div class="p-6 border-t-4 border-indigo-500 rounded-lg shadow-xl">
        <span class="text-4xl font-extrabold text-green-500 mb-4 block">3</span>
        <h3 class="text-xl font-semibold mb-3">過去のお客様のカウンセリング履歴を確認</h3>
        <p class="text-gray-600">
          あなたのアカウントに紐づいたお客様のカウンセリング履歴が、いつでも確認できます。
        </p>
      </div>
    </div>
  </div>
</section>
<div class="mt-8 space-y-4 w-full max-w-md mx-auto text-center mb-4">
  <%# Userがログインしているか、誰もログインしていない場合 %>
  <% if user_signed_in? || (!user_signed_in? && !salon_signed_in?) %>
    <%# ログインしている場合は直接カウンセリングページへ、そうでない場合はログインページへ %>
    <% path = user_signed_in? ? new_answer_path : new_user_session_path %>
    <%= link_to "カウンセリングを始める", path, 
        class: "block w-full text-center bg-blue-500 text-white font-semibold py-3 rounded hover:bg-blue-600" %>
  <% end %>
  <%# Salonがログインしているか、誰もログインしていない場合に表示 %>
  <% if salon_signed_in? || (!user_signed_in? && !salon_signed_in?) %>
    <%# ログインしている場合は直接Salon専用ページへ、そうでない場合はログインページへ %>
    <% path = salon_signed_in? ? salons_consultations_path : new_salon_session_path %>
    <%= link_to "美容師専用ページ", path,
        class: "block w-full text-center bg-green-500 text-white font-semibold py-3 rounded hover:bg-green-600" %>
    <%# 誰もログインしていない場合のみ、補足テキストを表示 %>
    <% unless user_signed_in? || salon_signed_in? %>
      <p class="text-sm text-gray-500">美容師・サロン関係者の方はこちら</p>
    <% end %>
  <% end %>
</div>
