@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold mb-6 text-center text-gray-800;
  }
  .my-container {
    @apply mx-auto px-4 pt-10 pb-10 sm:px-6 lg:px-8 max-w-screen-md;
  }
}
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
